$form-width: 800px;
$form-text-colour: #6b5744;

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: $form-width;
}

label {
  color: $form-text-colour;
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
}

input[type='text'],
select,
textarea {
  box-sizing: border-box;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: #c6c6c6 1px solid;
  width: 100%;
  max-width: $form-width;
  margin-bottom: 1rem;
  font-family:
    'Montserrat',
    system-ui,
    -apple-system,
    sans-serif;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23333333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><polyline points='6 9 12 15 18 9'></polyline></svg>");
  background-repeat: no-repeat;

  background-position: right 16px center;
  background-size: 16px;
  padding-right: 2.5rem;
}
