$primary-text-color: #6b5744;

body {
  min-height: 100vh;
  margin: 0;
  background: #fefcf7;
  background-attachment: fixed;

  font-family:
    'Montserrat',
    system-ui,
    -apple-system,
    sans-serif;
  color: $primary-text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.gap-1 {
  gap: 0.25rem;
}
.gap-2 {
  gap: 0.5rem;
}
